html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  font-size: 62.5%;
}

.grid1 {
  background-color: #191816;
}

header svg {
  margin: 4rem 2rem;
}

.login-flex {
  display: flex;
  margin-left: 2rem;
}
.login-flex h1 {
  font-family: "Poppins", "Roboto";
  font-weight: 600;
  font-size: 2rem;
  color: #d4ccb6;
  padding-left: 1rem;
}

.explain {
  font-family: "Poppins", "Roboto";
  font-weight: 400;
  color: #afb6c2;
  font-size: 1.4rem;
  margin: 2rem auto 3rem 2rem;
}

form fieldset label {
  color: #afb6c2;
  display: block;
  margin-left: 2rem;
  font-size: 1.4rem;
  font-family: "Poppins", "Roboto";
}
form fieldset input {
  display: block;
  margin: 0.5rem 2rem 2rem;
  width: 90%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  height: 3rem;
  border: 1px solid #afb6c2;
  border-radius: 0.5rem;
  background-color: #191816;
}
form fieldset .checkbox-flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 2rem;
}
form fieldset .checkbox-flex .inner-flex {
  display: flex;
}
form fieldset .checkbox-flex .inner-flex #checkbox {
  margin: 0;
  padding: 0;
  width: 1.6rem;
  height: auto;
  accent-color: #ffc632;
}
form fieldset .checkbox-flex .inner-flex label {
  font-weight: 400;
  color: #afb6c2;
  margin: 0;
  margin-left: 0.5rem;
}
form fieldset .checkbox-flex > p a {
  font-family: "Poppins", "Roboto";
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffc632;
}
form fieldset .btn {
  display: block;
  width: 90%;
  height: 5rem;
  margin: 0 auto;
  background-color: #ffc632;
  font-family: "Poppins", "Roboto";
  font-weight: 500;
  font-size: 2rem;
  color: #191816;
  border: none;
  border-radius: 0.5rem;
}
form fieldset .signUp {
  color: #ffc632;
  text-align: center;
  font-size: 1.4rem;
  margin: 2rem auto 20rem;
}
form fieldset .signUp a {
  margin-left: 0.5rem;
  color: #ffc632;
  font-size: 1.6rem;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */